@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap" rel="stylesheet'); /*Volkov*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Volkhov&display=swap'); /*Poppins*/

/* titulos: font-family: 'Volkhov', serif; */
/* subtitulos: font-family: 'Poppins', sans-serif; */
/* color: #404040; */
/* color: #BF7960 */
/* color: #FFE7DB */


* {
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  color: #404040;
  /* border: 1px solid black; */
}

.titulo {
  font-family: 'Volkhov', serif;
  font-weight: bold;
}
.titulo-destaque {
  font-family: 'Volkhov', serif;
  font-weight: bold;
  color: #BF7960;
}
.frase-destaque {
  color: #BF7960;
}


/*Formatacao header - navbar*/
.navbar {
  background-color: #FAFAFA;
}

.nav a {
  color: #404040;
  /*ajustar aqui a formatacao da cor azul*/
}

.logo-nav a {
  font-weight: bold;
  font-family: 'Volkhov', serif;
}

.botao {
  background-color: #BF7960 !important;
}


/*Formatacao header - destaque */
.sessao-destaque {
  background-color: #F2F2F0 ;
  text-align: center;
  height: 600px;
}

.subtitulo {
  background-color: white;
  box-shadow: 8px 5px 5px #E5E5E5;
  font-weight:bold;
  padding: 12px;
  border-radius: 14px;
  width: 50%;
}

.box-logo img {
  width: 60%;
}

.box-imagem-marcenaria img {
  width: 80%;
  border-radius: 0px 100px 0px 100px;
}


/*Formatacao main - seção Transver*/
.sessao-transver {
  padding: 50px 0px 50px 0px;
  height: 700px;
}

.sessao-transver h2{
  margin-right: 50px;
}

.sessao-transver p{
  padding: 30px 0px 30px 0px;
  margin: 0px 80px 0px 0px;
}

.imagem-principal-produtos img {
  width: 80%;
  border-radius: 20px;
}

.box-imagem-produto {
  padding: 20px 0px 20px 0px;
}

.box-video-producao {
  padding: 20px 0px 50px 0px;
}


/*Formatacao main - seção Sobre a Bia*/
.sessao-sobre {
  padding: 50px 0px 50px 0px;
  background-color: #FFE7DB;
  text-align: center;
  height: 600px;
}

.sessao-sobre h2 {
  margin-left: 80px;
}

.titulo-sobre-bia {
  text-align: left;
}

.imagem-bia img {
  width: 80%;
  border-radius: 10px;

}

.box-frase p {
  background-color: white;
  padding: 5px;
  margin: 0px;
  border-radius: 10px;
  width: 100%;
}

.box-frase {
  align-items: center;
}

.box-container {
  padding: 10px;
}

.box-arvore  {
  margin: 0px;
  text-align: left;
}


/*Formatacao - THANK YOU PAGE*/
.thankyou-page{
  background-color: #FFE7DB;
  text-align: center;
  height: 100vh;
  min-height: 100%;
  margin: auto;
}

.box-logo-tnk{
  width: 30%;
}
.box-thankyou {
  padding: 30px 0px 30px 0px;
}
.box-thankyou h4 {
  padding: 10px;
}

.box-redessociais {
  background-color: white;
  margin-top: 30px;
  padding: 20px;
  border-radius: 14px;
}
.box-redessociais p {
  padding: 10px;
}
.box-redessociais a {
  text-decoration: none;
}


/*Formatacao - TELA LOGIN (Acesso Bia)*/
.form-button {
  background-color: #BF7960 !important;
  color: #fff;
  text-align: center;
}

.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}


/*Formatacao - TELA HOME (Acesso Bia)*/

/*Formatacao - TELA UPDATE (Acesso Bia)*/














