@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap" rel="stylesheet'); /*Volkov*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Volkhov&display=swap'); /*Poppins*/

/* titulos: font-family: 'Volkhov', serif; */
/* subtitulos: font-family: 'Poppins', sans-serif; */
/* color: #404040; */
/* color: #BF7960 */
/* color: #FFE7DB */


* {
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  color: #404040;
  /* border: 1px solid black; */
}

.titulo {
  font-family: 'Volkhov', serif;
  font-weight: bold;
  text-align:left;
}

.titulo-transver{
  font-family: 'Volkhov', serif;
  font-weight: bold;
  text-align:left;
  margin: 36px;
}

.titulo-destaque {
  font-family: 'Volkhov', serif;
  font-weight: bold;
  color: #BF7960;
}
.frase-destaque {
  color: #BF7960;
}

/*Formatacao header - navbar*/
.navbar {
  background-color: #FAFAFA;
  padding: 20px 0px 20px 0px !important;
}

.nav a {
  color: #404040;
  /*ajustar aqui a formatacao da cor azul*/
}

.logo-nav {
  font-weight: bold;
  font-family: 'Volkhov', serif;
}

.botao {
  background-color: #BF7960 !important;
}

/*Formatacao header - destaque */
.sessao-destaque {
  background-color: #F2F2F0 ;
  text-align: center;
  padding-bottom: 30px;
}

.nav-link:hover{
  color: #BF7960 !important;
}

.nav-link-ic:hover{
  color: #404040 !important;
}

.subtitulo {
  background-color: #BF7960;
  color: white;
  box-shadow: 8px 5px 5px #E5E5E5;
  font-weight:bold;
  padding: 1.4vw;
  border-radius: 14px;
  height: 4vmax 4vmin;
  width: 20vmax;
  font-size: clamp(1em, 1em + 1vw, 1.3em);
}

.box-logo{
  margin-bottom: 40px;
}

.box-imagem-marcenaria img {
  border-radius: 0px 100px 0px 100px;
}


/*Formatacao main - seção Transver*/
.sessao-transver h2{
  margin-right: 50px;
}

.sessao-transver p{
  margin: 36px;
}

.imagem-principal-produtos img {
  border-radius: 20px;
}

.video-producao iframe {
  margin-top: 20px;
  border-radius: 20px;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height:90%;
  padding: 10px;
}

.container-iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 30%;
}

.video-producao{
  text-align: center;
  position: relative;
}

.box-imagem-produto {
  padding: 40px 0px 20px 0px;
}

.box-video-producao {
  padding: 40px 0px 50px 0px;
  align-items: center;
}

/*Formatacao main - seção Sobre a Bia*/
.sessao-sobre {
  padding: 50px 0px;
  background-color: #FFE7DB;
  text-align: left;
}

.titulo-bia-desc p {
  margin-left: 12px;
}

.imagem-bia img {
  text-align:center;
  border-radius: 10px;
}

.box-frase {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 85%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.box-container {
  padding: 10px;
}

.box-arvore  {
  margin: 0px;
  text-align: left;
}


/*Formatacao main - seção Produtos*/
/*Arthur*/

.section-produtos{
  margin-bottom: 40px;
}

.width-img{
  width: 250px !important;
  height: 250px !important;
  margin-top: 60px !important;
  padding-right: 0px !important;
  border-radius: 20px;
}

.div-logo {
  text-align: center;
  margin: 0px;
}

.box-madeira img {
  margin-top: 25%;
}


.title-desc{
  text-align: left;
  margin-top: 40px;
}

.title-desc-center{
  text-align: center;
  margin-top: 40px;
}

.title-desc-center h2{
  padding: 20px;
}

.div-margin{
  margin-right:60px;
}


.section-promocoes{
  background-color: #ECECEC;
  padding-bottom: 40px;
}

.bg-color{
  background-color:#BF7960;
  border-radius: 20px;
  margin-top: 40px;
}

.form-color{
  background-color: #f2f2f0;
  padding: 40px 20px;
  border-radius: 20px;
  margin-top: 40px;
}

.padding-form{
  padding:10px;
}

.button-adjust{
  margin-left: 33%;
  margin-top: 20px;
}

.btn {
	background-color: #BF7960 !important;
  color: #f2f2f0 !important;
  padding: 10px 20px !important;
  text-align: center;
}












/*Formatacao - THANK YOU PAGE*/
.thankyou-page{
  background-color: #FFE7DB;
  text-align: center;
  height: 100vh;
  min-height: 100%;
  margin: auto;
}

.box-logo-tnk{
  width: 30%;
}
.box-thankyou {
  padding: 30px 0px 30px 0px;
}
.box-thankyou h4 {
  padding: 10px;
}

.box-redessociais {
  background-color: white;
  margin-top: 30px;
  padding: 20px;
  border-radius: 14px;
}
.box-redessociais p {
  padding: 10px;
}
.box-redessociais a {
  text-decoration: none;
}

/*Formatacao - TELA LOGIN (Acesso Bia)*/
.form-button {
  background-color: #BF7960 !important;
  color: #fff;
  text-align: center;
}

.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}


/*Formatacao - TELA HOME (Acesso Bia)*/

/*Formatacao - TELA UPDATE (Acesso Bia)*/










